@using Referrals.ReferralsServices
@model IList<Communication>

@{  IList<Communication> msgs = (IList<Communication>)Model;
    Account acctCurrent = (Account)Session["User"];
                    
    foreach(Communication msg in msgs)
    {
        //Save 'To Account' so you can save messages with their id, when sending them a message
        ViewBag.ToAcctId = (msg.ToAcctId != acctCurrent.Id) ? msg.ToAcctId : msg.FromAcctId;
                        
        <div class="row-fluid" style="padding:10px;">
            <div><b>@string.Format("{0} {1}", msg.Account.Firstname, msg.Account.Lastname)</b>&nbsp;<small class="text-info pull-right">@string.Format("{0:MM/dd/yyyy HH:mm:ss tt}", msg.LastUpdated)</small></div>
            <div class="messageid" data-id="@msg.Id">@msg.MessageTo</div>
        </div>
        <hr />
    }
    
}