
<!-- TODO: Keep current page highlighted -->

<div id="header" class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-header">
    <a id="btnRightPanel" class="pull-right" href="#">
        <img style="height:32px;margin:0px;padding:0px;" src="~/images/icon_rolodex.jpg" />
    </a>
    <a id="btnLeftPanel" class="pull-right" href="#">
        <img style="height:32px;margin:0px;padding:0px;" src="~/images/icon_person.jpg" />
    </a>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse" style="margin-right:0px;">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/home/dashboard"><img src="~/images/icon_referral.jpg" /></a>
  </div>
  <div id="mainMenu" class="navbar-collapse collapse navbar-inverse-collapse">
    <ul class="nav navbar-nav navbar-right" style="margin-right:20px;">
        <li><a href="/home/dashboard">My Dashboard</a></li>
        <li><a href="/referrals/manage">My Referrals</a></li>
        <li><a href="/rolodex/manage">My Rolodex</a></li>
        <li><a href="/jobs/manage">Post Jobs</a></li>
        <li><a href="/members/find">Find Professionals</a></li>
    </ul>
  </div>
</div>