<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Referrals.ReferralsServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <applicationSettings>
    <Referrals.ReferralsServices.Properties.Settings>
      <setting name="SMTP_Host" serializeAs="String">
        <value>mail.hitechwebdev.com</value>
      </setting>
      <setting name="SMTP_Username" serializeAs="String">
        <value>admin@hitechwebdev.com</value>
      </setting>
      <setting name="SMTP_Password" serializeAs="String">
        <value>Xmod350!</value>
      </setting>
      <setting name="SendHubEndPointMessages" serializeAs="String">
        <value>https://api.sendhub.com/v1/messages/</value>
      </setting>
      <setting name="SendHubEndPointContacts" serializeAs="String">
        <value>https://api.sendhub.com/v1/contacts/</value>
      </setting>
      <setting name="SendHubEndPointParams" serializeAs="String">
        <value>?username={0}&amp;amp;api_key={1}</value>
      </setting>
      <setting name="SendHubUsername" serializeAs="String">
        <value>5125791355</value>
      </setting>
      <setting name="SendHubAPIKey" serializeAs="String">
        <value>adcac1b17c58dc97948d5ab211491e865131a774</value>
      </setting>
      <setting name="CommRefIntMsgTo" serializeAs="String">
        <value>"Has sent you a referral."</value>
      </setting>
      <setting name="CommRefIntMsgRef" serializeAs="String">
        <value>"Has referred you as a professional."</value>
      </setting>
      <setting name="CommRefTxtMsgTo" serializeAs="String">
        <value>"{0} {1} has sent you a referral."</value>
      </setting>
      <setting name="CommRefTxtMsgRef" serializeAs="String">
        <value>"{0} {1} has referred you as a professional."</value>
      </setting>
      <setting name="CommRefEmailTo" serializeAs="String">
        <value>"{0} {1} has sent you a referral."</value>
      </setting>
      <setting name="CommRefEmailRef" serializeAs="String">
        <value>"{0} {1} has referred you as a professional."</value>
      </setting>
      <setting name="CommInvIntMsg" serializeAs="String">
        <value>Has sent you a Rolodex Invitatation.</value>
      </setting>
      <setting name="CommInvTxtMsg" serializeAs="String">
        <value/>
      </setting>
      <setting name="CommInvEmail" serializeAs="String">
        <value/>
      </setting>
      <setting name="CommNudIntMsg" serializeAs="String">
        <value>Has sent you a Nudge for Reward.</value>
      </setting>
      <setting name="CommNudTxtMsg" serializeAs="String">
        <value/>
      </setting>
      <setting name="CommNudEmail" serializeAs="String">
        <value/>
      </setting>
      <setting name="CommRewIntMsg" serializeAs="String">
        <value>Has paid you a Reward.</value>
      </setting>
      <setting name="CommRewEmail" serializeAs="String">
        <value/>
      </setting>
      <setting name="CommRewTxtMsg" serializeAs="String">
        <value/>
      </setting>
    </Referrals.ReferralsServices.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
  </entityFramework>
  <connectionStrings>
    <add name="ReferralsEntities" connectionString="metadata=res://*/ReferralsDB.csdl|res://*/ReferralsDB.ssdl|res://*/ReferralsDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\sqlexpress;initial catalog=Referrals;persist security info=True;user id=referralsuser;password=referralsrock;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
